.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list-li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress,
.footer-adress-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-adress {
  color: var(--text-color-white);
}

.footer-adress-list-link {
  color: rgba(255, 255, 255, 0.6);
}

.logo-dark-theme-color {
  color: var(--text-color-white);
}

.connect-us {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.title-dark-theme {
  padding-bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-white);
}

.connect-us-social-list-svg {
  fill: #fff;
}

.connect-us-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

@import "../components/form-subscribe";
