.header {
  padding: 32px 0;
  border-bottom: 1px solid #ececec;
}

.nav-list,
.adress-list {
  display: flex;
}

.adress {
  margin-left: auto;

  &-list-li:not(:last-child) {
    margin-right: 50px;
  }

  &-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    color: var(--adress-header-color);
  }

  &-list-svg {
    fill: var(--adress-header-color);
    margin-right: 10px;
    transition: fill 250ms var(--timing-function);

    .adress-list-link:hover & {
      fill: var(--accent-color);
    }
  }
}

.nav-list-link,
.adress-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.nav {
  display: flex;
  align-items: center;

  &-list-li:not(:last-child) {
    margin-right: 50px;
  }

  &-list-link {
    position: relative;
    color: #212121;
  }

  &-list-link.current {
    color: var(--accent-color);
  }
}

.nav-list-link:hover,
.nav-list-link:focus,
.adress-list-link:hover,
.adress-list-link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -234%;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
