.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-list-li:not(:last-child) {
  margin-right: 30px;
}

.work .title {
  margin-bottom: 50px;
}

.work-list-item-wrap {
  position: relative;
}

.work-list-text-container {
  display: flex;
}

.work-list-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-white);
  background-color: rgba(47, 48, 58, 0.8);
}
