.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
}
