.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  &-second-color {
    color: var(--accent-color);
  }

  .header & {
    margin-right: 93px;
  }

  &-light-theme-color {
    color: #000000;
  }

  .footer & {
    display: inline-block;
    margin-bottom: 20px;
  }

  &-dark-theme-color {
    color: var(--text-color-white);
  }
}
