.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .hero & {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }
}
